.todo {
    background-color: #2a4d69;
    width: auto;
    height: 620px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item{
    border: 2px solid #adcbe3;
    width: 600px;
    background-color: #adcbe3;
}


.todo-input{
    width: 74%;
    border-radius: 5px;
    height: 50px;
}

.item-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.todo-btn{
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    border-color: #2a4d69;
    background-color: #2a4d69;
    height: 50px;
}

.todo-btn:hover{
    border-color: #63ace5;
    background-color: #63ace5;
}

.list-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-wrapper{
    width: 500px;
    background: #adcbe3;
    height: 450px;
    padding: 1rem;
}

.todo-form{
    text-align:center;
}

.todo-item{
    font-size: 2.5rem;
    border: 1px solid #189ad3;
    background: #189ad3;
    margin: 1rem 0 0 0;
    border-radius: 5px;
    color: white;
}

.dlt{
    border-radius: 5px;
    background-color: #005073;
    width: 12%;
    color: white;
    margin-right: 10px;
}
